<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @vote.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user %>
</p>

<p>
  <strong>Place:</strong>
  <%= @vote.place %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
