<%= form_for @place, html: { multipart: true } do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, id: "generic-autocomplete", class: "form-control" %>
  </div>

  <input type="hidden" name="place[lat]" id="lat"></input>
  <input type="hidden" name="place[lng]" id="lng"></input>

  <div class="control-group">
    <%= f.label :placepictures, :class => 'control-label' %>
    <div class="controls">
      <!-- The magic is coming ...look at my eyes....shazammmm -->
      <%= file_field_tag "placepictures[]", type: :file, multiple: true %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
